<div class="dashboard">
    <div class="dashboard-item full massive-half">
        <div class="dashboard-item-title">
            <h3>This week</h3>
        </div>
        <div class="dashboard-item-content">
            <div class="chart-container gantt">
                {{ember-chart type='line' data=gantt options=gantt_options}}
            </div>
        </div>
    </div>

    <div class="dashboard-item full massive-half">
        <div class="dashboard-item-title">
            <h3>Tags</h3>
        </div>
        <div class="dashboard-item-content">
            <div class="chart-container">
                {{ember-chart type='bar' data=tags options=options}}
            </div>
        </div>
    </div>

    <div class="dashboard-item full massive-half half-right">
        <div class="dashboard-item-title">
            <h3>Days</h3>
        </div>
        <div class="dashboard-item-content">
            <div class="chart-container">
                {{ember-chart type='bar' data=days options=options}}
            </div>
        </div>
    </div>

    <div class="dashboard-item full massive-half">
        <div class="dashboard-item-title">
            <h3>Hours</h3>
        </div>
        <div class="dashboard-item-content">
            <div class="chart-container">
                {{ember-chart type='bar' data=hours options=options}}
            </div>
        </div>
    </div>
</div>
