@mixin centre-part($size, $colour) {
    position: absolute;
    border-radius: 50%;
    width: $size;
    height: $size;
    border: 1px solid $colour;
    background-color: $colour;
    left: calc(50% - #{$size}/2 - 1px);
    top: calc(50% - #{$size}/2 - 1px);
}

.stopwatch {
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 200px;
    height: 200px;
    border: 5px solid $dark-grey;
    position: relative;

    > .hand-centre {
        @include centre-part(10px, $dark-grey);
    }
}

.block {
    position: absolute;
    width: 10%;
    height: 13%;
    background-color: $dark-grey;
    top: -15%;
    left: 45%;
    transform-origin: 50% 100px;
}

.stopwatch-small {
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    border: 1px solid $blue;
    width: 30%;
    height: 30%;
    top: 5%;
    left: calc(50% - 30%/2 - 0.5px);

    > .hand-centre {
        @include centre-part(5px, $red);
    }

    &.bottom {
        top:65%;

        .hours-text {
            margin-top: 1.3em;
            >div {
                display: inline;
            }
            .hours{font-size: 1em;}
            .hr {font-size:0.7em;}
        }
    }
}

.number {
    position: absolute;
    font-size: 0.7em;
    left: calc(50% - 0.7em/2);
    transform-origin: 50% 200%;

    > p {
        margin: 0;
    }
}

.hand {
    transform-origin: 50% 100%;
    position: absolute;
}

.marker {
    background-color: $dark-grey;
    width: 2%;
    height: 3%;
    left: 49%;
    transform-origin: 50% 100px;
    position: absolute;
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.second-hand {
    background-color: $red;
    top: 5%;
    left: 49%;
    width: 2%;
    height: 45%;
}

.second-hand-initial {animation: rotation 0.7s;}

.minute-hand {
    background-color: $dark-grey;
    top: 10%;
    left: 49%;
    width: 2%;
    height: 40%;
}

.minute-hand-initial {animation: rotation 0.9s;}
