body {
    margin: 0px;
    background-color: #d5dae6;
    font-family: 'Droid Sans', sans-serif;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
   flex-direction: row;
   min-height: 98vh;
}

.main-content {
    flex: 1 ;
}

.nav-panel {
    margin: 0;
    padding-bottom: 0.5em;
    width: 200px;
    min-width: 100px;
    background-color: #364760;
    color: #f0f4f6;
}

.nav-panel > h1 {
    margin: 0 0 0 0;
    padding-left: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 38px;
    background-color: #2a394f;
}

.nav-panel > ul {
    margin-top: 2em;
    list-style: none;

}

.nav-panel > ul > li {
    margin-bottom: 2em;
    font-weight: bold;
}

.header {
    background-color: #364760;
    color: #f0f4f6;
    width: 100%;
    height: 70px;
}

.inner-container {
    padding-right: 1em;
}

.title {
    padding-left: 1.5em;
    background-color: #eef1f7;
    padding-top: 1em;
    padding-bottom: 1em;
}

.title > h2 {
    margin: 0px;
    color: #687189;
}

.project-item {
    padding-left: 1em;
    color: #8c97b2;
}

.project-item > h3 {
    color: #687189;
    background-color: #eef1f7;
    margin-bottom: 0px;
    padding: 0.7em 0.2em 0.7em 0.7em;
}

.project-item > p {
    margin: 0px;
    background-color: #ffffff;
    padding: 0.7em 0.2em 0.7em 1.2em
}

.btn {
    display: inline-block;
    padding: 0.3em 0.5em 0.3em 0.5em;
    min-width: 80px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #687189;
    color: #687189;
    cursor: pointer;
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.toggled {
    background-color: #5ab0ee;
    border: 1px solid #5ab0ee;
    color: #f0f4f6;
}

.subtitle {
    margin-top: 1em;
    margin-left: 0.5em;
}

.toggle-group > div {
    display: inline;
}

.toggle-group .btn {
    margin-right: 0.5em;
}

@media only screen and (max-device-width : 480px) {
    .nav-panel {
        width: 100%;
    }

    .nav-panel > ul {
        margin-top: 1.3em;
        margin-bottom: 1em;
    }

    .nav-panel > ul > li {
        display: inline-block;
        padding-right: 1em;
        margin-bottom: 0;
    }

    .header {
        display: none;
    }

    .container {
        align-content: flex-start;
    }
}