<div class="container">
    <div class="nav-panel">
        <h1>Timmy</h1>
        <ul>
            <li>{{#link-to "index"}}Overview{{/link-to}}</li>
            <li>{{#link-to "projects"}}Projects{{/link-to}}</li>
            <li>{{#link-to "timer"}}Timer{{/link-to}}</li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header"></div>
        {{outlet}}
    </div>
</div>
