<div class="container">
    <ul class="nav-panel">
        <li>Overview</li>
        <li>Projects</li>
        <li>Timers</li>
    </ul>
    <div class="main-content">
        {{outlet}}
    </div>
</div>
