<div class="container">
    <div class="nav-panel">
        <h1>Timmy</h1>
        <ul>
            <li>Overview</li>
            <li>Projects</li>
            <li>Timers</li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header"></div>
        {{outlet}}
    </div>
</div>
