<div class="title"><h2>Projects</h2></div>

<div class="inner-container">
    {{#each model as |proj|}}
        <div class="project-item">
            <h3>{{proj.title}}</h3>
            {{# if proj.description}}<p class="description">{{proj.description}}</p>{{/if}}
        </div>
    {{/each}}

    {{outlet}}
</div>
