<div class="title">
    <h2>Timer</h2>
</div>

<div class="inner-container">
    <div class="dashboard timer-dashboard">
        <div class="timer dashboard-item">
            <div class="dashboard-item-title">
                <h3>Let's get productive!</h3>
            </div>
            <div class="dashboard-item-content">
                <div class="stopwatch">
                    <div class="block"></div>

                    <div class="stopwatch-small">
                        <div class="number"><p>0</p></div>
                        <div class="number" style="transform: rotate(90deg); top: 5%"><p style="transform: rotate(-90deg);">15</p></div>
                        <div class="number" style="transform: rotate(180deg); left: 40%; top: 15%;"><p style="transform: rotate(-180deg);">30</p></div>
                        <div class="number" style="transform: rotate(270deg); left: 33%; top: 5%"><p style="transform: rotate(-270deg);">45</p></div>
                        <div class="hand second-hand"></div>
                    </div>

                    <div class="marker"></div>
                    <div class="marker" style="transform: rotate(30deg);"></div>
                    <div class="marker" style="transform: rotate(60deg);"></div>
                    <div class="marker" style="transform: rotate(90deg);"></div>
                    <div class="marker" style="transform: rotate(120deg);"></div>
                    <div class="marker" style="transform: rotate(150deg);"></div>
                    <div class="marker" style="transform: rotate(180deg);"></div>
                    <div class="marker" style="transform: rotate(210deg);"></div>
                    <div class="marker" style="transform: rotate(240deg);"></div>
                    <div class="marker" style="transform: rotate(270deg);"></div>
                    <div class="marker" style="transform: rotate(300deg);"></div>
                    <div class="marker" style="transform: rotate(330deg);"></div>


                    <div class="hand minute-hand"></div>
                    <div class="hand hour-hand"></div>
                </div>
            </div>
        </div>
    </div>
</div>
