<div class="title">
    <h2>Timer</h2>
</div>

<div class="inner-container">
    <div class="project-item">
        <div class="project-title">
            <h3>Let's get productive!</h3>
        </div>
        <p>dfdfd</p>
    </div>
</div>
